@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

body {
    font-family: 'Handlee', cursive;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
    min-height: 400px;
    padding-left: 2%;
    padding-right: 2%;
  }

  span {
      font-size: 36px;
      cursor: pointer;
  }

  span:hover {
      color: gray;
  }

  .nextButton {
      text-align: center;
      padding-top: 3%;
  }

  .bookHeader {
      padding-bottom: 3%;
  }

  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: 'Handlee', cursive;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }